* {
    outline: 1px solid red;
}

body {
    display: flex;
    gap: 30px;
    flex-direction: column;
}

.game-section   {
    display: flex;
}

.section-left, .section-right {
    display: flex;
}

.section-left {
    width: 350px;
    display: flex;
    flex-direction: column;
}

.section-right {
    width: 500px;
    display: flex;
    flex-direction: column;
}

.time-container {
    display: flex;
    gap: 100px;
    margin-top: 20px;
}

.time-remaining {
    width: 205px;
}

.timer {
    width: 45px;
}

.matrix-main {
    display: flex;
    justify-content: center;
}

.matrix-container   {
    width: 350px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.matrix-container div   {
    width: 350px;
    height: 35px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.buffer-container {
    display: flex;
    padding: 5px 5px 5px 10px;
    gap: 10px;
    height: 35px;
    align-items: center;
}

.sequence-main {
    display: flex;
    flex-direction: column;
}

.sequence-container {
    display: flex;
    flex-direction: column;
    padding: 5px;
    gap: 10px;
}

.sequence-1, .sequence-2, .sequence-3 {
    height: 35px;
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 5px;
}

.game-section p {
    display: flex;
    width: 25px;
    height: 25px;
    align-items: center;
    justify-content: center;
}



